# IntelliJ files
.idea/
*.backup

# Data files
*.bin
*.csv
*.log
*.b00
*.dt2
*.dat
*.txt

# Visual Studio Environment
*.filters
*.idb
*.ilk
*.iobj
*.ipdb
*.lastbuildstate
*.ncb
*.obj
*.pch
*.pdb
*.rc
*.recipe
*.suo
*.tlog
*.user

# Compiled assets
*.cgi
*.exe
*.dll
*.o
acquire
acquire_lite
adcinit
avgadc
bootfpga
clockprog
coincdaq
coincdaqm
ethdataout
findsettings
gettraces
mcadaq
netdaq
pllinit
pollcsr
progfippi
rampdacs
runstats
startdaq
testcsrK7
timestamps
ttcliic
ttclinit
ttclspi
ttclsync
ttcltime
udpdis
udpena
udp-recv
udp-send
